body {
  margin: 0;
  overflow: hidden;
  font-family: 'Avenir', sans-serif;

}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;      
  animation: kenburns 20s infinite;
  

}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  
}



 

.page{
  height: 100vh;
text-align: center;
align-self: center;
z-index: 10;
}

header{
  display: flex;
justify-content: space-between;
padding: 2% 5%;
align-items: center;
}

/* Fonts */

h1{
  margin: 0;
  letter-spacing: ;
}

/* Buttons */

.btn {
  background-color: #40CD75; /* Blue background */
  border: none; /* Remove borders */
  border-radius: 100px; 
  color: white; /* White text */
  padding: 32px 40px; /* Some padding */
  font-size: 24px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.brk-btn {
  background-color: rgba(0, 0, 0, 0.735); /* Blue background */
  border: none; /* Remove borders */
  border-radius: 100px; 
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  margin-bottom: 30px;
}

.break-btn {
  background-color: rgba(0, 0, 0, 0.33); /* Blue background */
  border: none; /* Remove borders */
  border-radius: 100px; 
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  margin: 3px;
}


/* Darker background on mouse-over */
.btn:hover {
  background-color: rgba(0, 0, 0, 0.911);
}

/* Timer Box */
.container{
  
  padding:100px 0px;
  margin-right: 35%;
  margin-left: 35%;
align-self: center;
justify-self: center;
background: rgba(17, 17, 17, 0.5);
backdrop-filter: blur(15px);
border-radius: 50px;
z-index: 100;
}

.field-title{
  font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
letter-spacing: 0.1em;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.5);
}

#timer{
  font-style: normal;
font-weight: 500;
font-size: 120px;
letter-spacing: em;
color: #FFFFFF;
}

.breaks-tab{
  margin-bottom: 40px;
}

.start-btn{
  border: none; /* Remove borders */
  border-radius: 100%; 
  color: white; /* White text */
  padding: 20px 30px; /* Some padding */
  font-size:40px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  background: #40CD75;
border-radius: 1000px;
margin-top: 50px;
}

.button-wrapper{
  margin-top: 50px;
}

#start {
  padding: 30px; 
  background-color: #40CD75; /* Blue background */
  border: none; /* Remove borders */
  border-radius: 1000%; 
  color: white; /* White text */
  font-size: 24px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

 #stop, #reset {
  padding: 20px; 
  margin: 7px;
  background-color: rgba(255, 255, 255, 0.107); /* Blue background */
  border-width: 1px; /* Remove borders */
  border-color: white;
  border-radius: 1000%; 
  color: white; /* White text */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

#quote {
  padding: 0px 50px;
  font-size: 20px;
  color: white;
}

.quote-container{
  margin-top: 50px;
}

.divider {
  background-color: rgba(255, 255, 255, 0.265);
  margin-bottom: 50px;
  margin-top: 10px;
  border: none;
  height: 1px;
}